In [ ]:
print ("Hello world!")

Hello world!

In [2]:
a= input("enter a name :")
print(a)

enter a name :anju
anju

In [4]:
num=int(input("enter a number:"))
if num>0:
  print("it is positive",num)
elif num<0:
    print("it is negative",num)
elif num ==0:
  print("it is zero",num)

enter a number:4
it is positive 4

In [7]:
a,b,c= input("enter a number").split()
'''print("the firt value is :",a)
print("the firt value is :",b)
print("the firt value is :",c)

#b=int(input("enter a number"))
#c=int(input("enter a number"))'''

result=print("the largest number is :",max(a,b,c))

enter a number45 54 65
the largest number is : 65

In [8]:
num = int(input("Enter a number: "))
fact = 1

for i in range(1, num + 1):
    fact *= i

print("Factorial is:", fact)

Enter a number: 5
Factorial is: 120

variables and data types

In [11]:
a = 5
b = 4.0
c = 'anju'
d = True
print("the type is :",type(a))
print("the type is :",type(b))
print("the type is :",type(c))
print("the type is :",type(d))

the type is : <class 'int'>
the type is : <class 'float'>
the type is : <class 'str'>
the type is : <class 'bool'>

In [16]:
a , b = 4 , 6
print("before swap the number is:",b)
a, b = b, a
print("after swap the number is :",b)

before swap the number is: 6
after swap the number is : 4

In [18]:
a = 'anju' + ' chippa'
print("the result is :",a)

the result is : anju chippa

In [21]:
a = 10
if type(a)== int:
 print("it is an integer type ")
else :
 print("it is not an integer")

it is an integer type

operators

In [23]:
#calculator
num1=float(input("enter the first number :"))
num2=float(input("enter the second number :"))
sum= num1+num2
difference = num1-num2
product=num1*num2
division=num1/num2
print("sum of this is :",sum)
print("the difference is :",difference)
print("the product is :",product)
print("the division is :",division)

enter the first number :5
enter the second number :4
sum of this is : 9.0
the difference is : 1.0
the product is : 20.0
the division is : 1.25

In [27]:
a = 5
b = 4

print(a==b)
print(a!=b)
print(a>b)
print(a<b)

False
True
True
False

In [31]:
a = 10
b = 12

print(a and b)
print(a or b)
print(not a)

12
10
False

In [39]:
num = float(input("enter a number"))
power = num ** 2
print('the square is :',power)

enter a number4
the square is : 16.0

In [43]:
a = float(input('enter a number'))
if a%2 == 0:
  print('it is even')
else:
  print("it is odd")

enter a number6
it is even

In [44]:
n = int(input("Enter a number: "))
sum_n = n * (n + 1) // 2
print("Sum is:", sum_n)

Enter a number: 6
Sum is: 21

In [45]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2023
Not a leap year

In [51]:
name = input('enter a name')
reverse_A = name[::-1]
print("the reverese string is ",reverse_A)

enter a nameANJU
the reverese string is  UJNA

In [53]:
a = input("Enter a string: ")
if a == a[::-1]:
  print("its a palindrome")
else :
  print('it is not a palindrome')

Enter a string: mom
its a palindrome

In [56]:
a=[7,2,1,4,9,6,3,8]
a.sort()
print(a)

[1, 2, 3, 4, 6, 7, 8, 9]